[submodule "lib3ds"]
	path = lib3ds
	url = https://github.com/hoopoe/lib3ds
[submodule "ivcon-tl-code"]
	path = ivcon-tl-code
	url = https://git.code.sf.net/p/ivcon-tl/code
[submodule "freeglut_git"]
	path = freeglut_git
	url = https://github.com/FreeGLUTProject/freeglut.git
