<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="Facette">
		<title>Ajout d&apos;un objet Facette</title>
		<size>449,142</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxCLOSE_BOX</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Coordonnées de P1 :  X:</label>
			<pos>8,11</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl_P1X" member="yes">
			<value>0.0</value>
			<pos>136,8</pos>
			<size>80,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Y:</label>
			<pos>224,11</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrl_P1Y" member="yes">
			<value>0.0</value>
			<pos>240,8</pos>
			<size>80,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>Z :</label>
			<pos>336,11</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrl_P1Z" member="yes">
			<value>0.0</value>
			<pos>360,8</pos>
			<size>80,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>Coordonnées de P2 :  X:</label>
			<pos>8,35</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="TextCtrl_P2X" member="yes">
			<value>1.0</value>
			<pos>136,32</pos>
			<size>80,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>Y :</label>
			<pos>224,35</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL5" variable="TextCtrl_P2Y" member="yes">
			<value>0.0</value>
			<pos>240,32</pos>
			<size>80,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
			<label>Z :</label>
			<pos>336,35</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="TextCtrl_P2Z" member="yes">
			<value>0.0</value>
			<pos>360,32</pos>
			<size>80,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
			<label>Coordonnées de P3 :  X:</label>
			<pos>8,59</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="TextCtrl_P3X" member="yes">
			<value>0.0</value>
			<pos>136,56</pos>
			<size>80,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
			<label>Y :</label>
			<pos>224,59</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="TextCtrl_P3Y" member="yes">
			<value>1.0</value>
			<pos>240,56</pos>
			<size>80,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
			<label>Z :</label>
			<pos>336,59</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL9" variable="TextCtrl_P3Z" member="yes">
			<value>0.0</value>
			<pos>360,56</pos>
			<size>80,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
			<label>Numéro de Groupe :</label>
			<pos>8,83</pos>
		</object>
		<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinCtrl_Groupe" member="yes">
			<value>0</value>
			<pos>136,80</pos>
			<size>80,21</size>
			<handler function="OnSpinCtrl_GroupeChange" entry="EVT_SPINCTRL" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
			<label>Numéro de Matériau :</label>
			<pos>232,83</pos>
		</object>
		<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="SpinCtrl_Materiau" member="yes">
			<value>0</value>
			<pos>360,80</pos>
			<size>80,21</size>
			<handler function="OnSpinCtrl_MateriauChange" entry="EVT_SPINCTRL" />
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button_OK" member="yes">
			<label>Accepter</label>
			<pos>128,112</pos>
			<size>88,23</size>
			<fg>wxSYS_COLOUR_BTNTEXT</fg>
			<handler function="OnButton_OKClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="Button_Annuler" member="yes">
			<label>Annuler</label>
			<pos>240,112</pos>
			<size>88,23</size>
			<fg>wxSYS_COLOUR_BTNTEXT</fg>
			<handler function="OnButton_AnnulerClick" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
