<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="OvniFrame">
		<title>OVNI Version wxWidgets</title>
		<centered>1</centered>
		<hidden>1</hidden>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_FRAME_STYLE|wxFULL_REPAINT_ON_RESIZE</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<minsize>-1,25</minsize>
					<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
						<label>Zoom :</label>
						<pos>5,4</pos>
					</object>
					<object class="wxButton" name="ID_BUTTON1" variable="Button_ZoomPlus" member="yes">
						<label>+</label>
						<pos>48,0</pos>
						<size>45,24</size>
						<fg>wxSYS_COLOUR_BTNTEXT</fg>
						<handler function="OnButton_ZoomPlusClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON2" variable="Button_ZoomMoins" member="yes">
						<label>-</label>
						<pos>96,0</pos>
						<size>45,24</size>
						<fg>wxSYS_COLOUR_BTNTEXT</fg>
						<handler function="OnButton_ZoomMoinsClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
						<label>Déplacements :</label>
						<pos>152,4</pos>
					</object>
					<object class="wxButton" name="ID_BUTTON3" variable="Button_Gauche" member="yes">
						<label>Gauche</label>
						<pos>240,0</pos>
						<size>55,24</size>
						<fg>wxSYS_COLOUR_BTNTEXT</fg>
						<handler function="OnButton_GaucheClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON4" variable="Button_Droite" member="yes">
						<label>Droite</label>
						<pos>294,0</pos>
						<size>55,24</size>
						<fg>wxSYS_COLOUR_BTNTEXT</fg>
						<handler function="OnButton_DroiteClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON5" variable="Button_Haut" member="yes">
						<label>Haut</label>
						<pos>348,0</pos>
						<size>55,24</size>
						<fg>wxSYS_COLOUR_BTNTEXT</fg>
						<handler function="OnButton_HautClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON6" variable="Button_Bas" member="yes">
						<label>Bas</label>
						<pos>402,0</pos>
						<size>55,24</size>
						<fg>wxSYS_COLOUR_BTNTEXT</fg>
						<handler function="OnButton_BasClick" entry="EVT_BUTTON" />
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
			</object>
			<object class="sizeritem">
				<object class="wxGLCanvas" name="ID_GLCANVAS" variable="GLCanvas" member="yes">
					<size>800,400</size>
					<bg>#6496BE</bg>
					<style>wxFULL_REPAINT_ON_RESIZE</style>
					<handler function="OnGLCanvasPaint" entry="EVT_PAINT" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel_Sliders" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer2" member="yes">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER_X" variable="Slider_x" member="yes">
								<max>360</max>
								<tickfreq>30</tickfreq>
								<fg>#FF0000</fg>
								<help>Axe Rouge</help>
								<style>wxSL_AUTOTICKS|wxSL_LABELS</style>
								<handler function="OnSlider_xCmdScroll" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
								<handler function="OnSlider_xCmdScroll" entry="EVT_COMMAND_SLIDER_UPDATED" />
							</object>
							<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER_Y" variable="Slider_y" member="yes">
								<max>360</max>
								<tickfreq>30</tickfreq>
								<fg>#00DC00</fg>
								<help>Axe Vert</help>
								<style>wxSL_AUTOTICKS|wxSL_LABELS</style>
								<handler function="OnSlider_yCmdScroll" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
								<handler function="OnSlider_yCmdScroll" entry="EVT_COMMAND_SLIDER_UPDATED" />
							</object>
							<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER_Z" variable="Slider_z" member="yes">
								<max>360</max>
								<tickfreq>30</tickfreq>
								<fg>#0000FF</fg>
								<help>Axe Bleu</help>
								<style>wxSL_AUTOTICKS|wxSL_LABELS</style>
								<handler function="OnSlider_zCmdScroll" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
								<handler function="OnSlider_zCmdScroll" entry="EVT_COMMAND_SLIDER_UPDATED" />
							</object>
							<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
							<border>5</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar_Globale" member="yes">
			<object class="wxMenu" variable="MenuFile" member="yes">
				<label>&amp;Fichier</label>
				<object class="wxMenuItem" name="idOpenFile" variable="Menu_Open" member="yes">
					<label>Ouvrir</label>
					<help>Ouvrir un fichier de bdd</help>
					<handler function="OnMenu_OpenSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idReopenFile" variable="Menu_ReOpen" member="yes">
					<label>Réouvrir</label>
					<help>Réouvre le fichier tel qu&apos;il est sur le disque</help>
					<enabled>0</enabled>
					<handler function="OnMenu_ReOpenSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idAddFile" variable="Menu_AddFile" member="yes">
					<label>Ajouter une Bdd</label>
					<help>Ajoute un nouveau fichier Bdd à ceux déjà présents</help>
					<enabled>0</enabled>
					<handler function="OnMenu_AddFileSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idSaveFile" variable="Menu_Enregistrer" member="yes">
					<label>Enregistrer</label>
					<help>Enregistrement de la base de donnée</help>
					<enabled>0</enabled>
					<handler function="OnMenu_EnregistrerSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idSaveFileAs" variable="Menu_Enregistrer_Sous" member="yes">
					<label>Enregistrer sous...</label>
					<help>Enregistrer la base de donnée sous un nouveau nom</help>
					<enabled>0</enabled>
					<handler function="OnMenu_Enregistrer_Sous" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idProperties" variable="Menu_Proprietes" member="yes">
					<label>Propriétés</label>
					<help>Affiche les caractéristiques de la base de données</help>
					<handler function="OnMenu_ProprietesSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idPrefs" variable="Menu_Preferences" member="yes">
					<label>Préférences</label>
					<help>Affiche une boîte de dialogue d&apos;options d&apos;utilisation</help>
					<handler function="OnMenu_PreferencesSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idHardware" variable="Menu_Hardware3D" member="yes">
					<label>Hardware 3D</label>
					<help>Affiche les caractéristiques de la carte 3D</help>
					<handler function="OnMenu_Hardware3DSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem_Quitter" member="yes">
					<label>Quitter</label>
					<accel>Alt-F4</accel>
					<help>Quitte l&apos;application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu_Affichage" member="yes">
				<label>Affichage</label>
				<object class="wxMenuItem" name="menu_Affichage_Points" variable="Menu_Affichage_Points" member="yes">
					<label>Points</label>
					<help>Affiche les points</help>
					<handler function="OnMenu_Affichage_PointsSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="wxMenuItem" name="menu_Affichage_Filaire" variable="Menu_Affichage_Filaire" member="yes">
					<label>Filaire</label>
					<help>Affiche les arêtes</help>
					<handler function="OnMenu_Affichage_FilaireSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="wxMenuItem" name="menu_Affichage_Plein" variable="Menu_Affichage_Plein" member="yes">
					<label>Plein</label>
					<help>Affiche les surfaces</help>
					<checked>1</checked>
					<handler function="OnMenu_Affichage_PleinSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="menu_Affichage_Axes" variable="Menu_Affichage_Axes" member="yes">
					<label>Axes</label>
					<help>Affiche les axes X, Y et Z de la base de données</help>
					<checked>1</checked>
					<handler function="OnMenu_Affichage_AxesSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="wxMenuItem" name="menu_Affichage_Boite" variable="Menu_Affichage_Boite" member="yes">
					<label>Boîte englobante</label>
					<help>Affiche la boîte englobante de la Bdd</help>
					<checked>1</checked>
					<handler function="OnMenu_Affichage_BoiteSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="wxMenuItem" name="menu_Affichage_Source" variable="Menu_Affichage_Source" member="yes">
					<label>Source de lumière</label>
					<help>Affiche la source de lumière (Soleil)</help>
					<handler function="OnMenu_Affichage_SourceSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="Menu_Origine" member="yes">
					<label>Origine</label>
					<help>Pour Bdd orientée selon la convention de Crira</help>
					<handler function="OnMenu_OrigineSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM2" variable="Menu_VueDeFace" member="yes">
					<label>Vue de face</label>
					<help>Pour Bdd orientée selon la convention de Crira</help>
					<handler function="OnMenu_VueDeFaceSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM3" variable="Menu_VueDeProfil" member="yes">
					<label>Vue de profil</label>
					<help>Pour Bdd orientée selon la convention de Crira</help>
					<handler function="OnMenu_VueDeProfilSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM4" variable="Menu_VueDeDessus" member="yes">
					<label>Vue de dessus</label>
					<help>Pour Bdd orientée selon la convention de Crira</help>
					<handler function="OnMenu_VueDeDessusSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM5" variable="Menu_PositionObservateur" member="yes">
					<label>Position Angulaire Observateur</label>
					<help>Angles de Site et Azimut d&apos;observation</help>
					<handler function="OnMenu_PositionObservateurSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM6" variable="Menu_ZoomSpecifique" member="yes">
					<label>Zoom spécifique</label>
					<help>Données de Zoom et d&apos;observation</help>
					<handler function="OnMenu_ZoomSpecifiqueSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM7" variable="Menu_CentreRotation" member="yes">
					<label>Centre de rotation</label>
					<help>Coordonnées du centre de rotation des objets</help>
					<handler function="OnMenu_CentreRotationSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM8" variable="Menu_PositionSource" member="yes">
					<label>Position de la source</label>
					<help>Coordonnées de la source de lumière</help>
					<handler function="OnMenu_PositionSourceSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu_Primitive" member="yes">
				<label>Primitive</label>
				<object class="wxMenuItem" name="ID_MENUITEM32" variable="Menu_AjouteCone" member="yes">
					<label>Cône</label>
					<handler function="OnMenu_AjouteConeSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM33" variable="Menu_AjouteCube" member="yes">
					<label>Cube</label>
					<handler function="OnMenu_AjouteCubeSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM34" variable="Menu_AjouteCylindre" member="yes">
					<label>Cylindre</label>
					<handler function="OnMenu_AjouteCylindreSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM35" variable="Menu_AjouteEllipsoide" member="yes">
					<label>Ellipsoïde</label>
					<handler function="OnMenu_AjouteEllipsoideSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM36" variable="Menu_AjouteFacette" member="yes">
					<label>Facette</label>
					<handler function="OnMenu_AjouteFacetteSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM37" variable="Menu_AjouteSphere" member="yes">
					<label>Sphère</label>
					<handler function="OnMenu_AjouteSphereSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM38" variable="Menu_AjouteIcosaedre" member="yes">
					<label>Icosaèdre</label>
					<handler function="OnMenu_AjouteIcosaedreSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM51" variable="Menu_AjouteTore" member="yes">
					<label>Tore</label>
					<handler function="OnMenu_AjouteToreSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM39" variable="Menu_SupprimerDerniere" member="yes">
					<label>Supprimer la dernière</label>
					<help>Pour supprimer la dernière primitive ajoutée</help>
					<handler function="OnMenu_SupprimerDerniereSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu_Reperage" member="yes">
				<label>Repérage</label>
				<object class="wxMenuItem" name="ID_MENUITEM9" variable="Menu_ReperagePoint" member="yes">
					<label>Point</label>
					<handler function="OnMenu_ReperagePointSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM10" variable="Menu_ReperageFacette" member="yes">
					<label>Facette</label>
					<handler function="OnMenu_ReperageFacetteSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM11" variable="Menu_ReperageGroupe" member="yes">
					<label>Groupe</label>
					<handler function="OnMenu_ReperageGroupeSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM12" variable="Menu_ReperageMateriau" member="yes">
					<label>Matériau</label>
					<handler function="OnMenu_ReperageMateriauSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM13" variable="Menu_ReperageObjet" member="yes">
					<label>Objet</label>
					<handler function="OnMenu_ReperageObjetSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM14" variable="Menu_SensDesNormales" member="yes">
					<label>Sens des normales</label>
					<accel>(n)</accel>
					<help>Colorise différemment les facettes mal orientées</help>
					<handler function="OnMenu_SensDesNormalesSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="menu_reperage_couleurs_facettes" variable="Menu_Reperage_Couleurs_Facettes" member="yes">
					<label>Couleurs facettes</label>
					<enabled>0</enabled>
					<handler function="OnMenu_Reperage_Couleurs_FacettesSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="wxMenuItem" name="menu_reperage_couleurs_groupes" variable="Menu_Reperage_Couleurs_Groupes" member="yes">
					<label>Couleurs groupes</label>
					<handler function="OnMenu_Reperage_Couleurs_GroupesSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="wxMenuItem" name="menu_reperage_couleurs_materiaux" variable="Menu_Reperage_Couleurs_Materiaux" member="yes">
					<label>Couleurs matériaux</label>
					<handler function="OnMenu_Reperage_Couleurs_MateriauxSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
			</object>
			<object class="wxMenu" variable="Menu_Image" member="yes">
				<label>Image</label>
				<object class="wxMenuItem" name="ID_MENUITEM50" variable="MenuItem_ImageJpeg" member="yes">
					<label>Enregistrer au format jpeg</label>
					<handler function="OnMenuItem_ImageJpegSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM49" variable="MenuItem_ImagePng" member="yes">
					<label>Enregistrer au format png</label>
					<handler function="OnMenuItem_ImagePngSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM48" variable="MenuItem_ImagePpm" member="yes">
					<label>Enregistrer au format ppm</label>
					<handler function="OnMenuItem_ImagePpmSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu_Outils" member="yes">
				<label>Outils</label>
				<object class="wxMenuItem" name="ID_MENUITEM40" variable="Menu_RAZ_SelectionFacettes" member="yes">
					<label>RAZ de sélection de facettes</label>
					<handler function="OnMenu_RAZ_SelectionFacettesSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM41" variable="Menu_MasquerFacettes" member="yes">
					<label>Masquer les facettes sélectionnées</label>
					<handler function="OnMenu_MasquerFacettesSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM42" variable="Menu_SupprimerFacettes" member="yes">
					<label>Supprimer les facettes sélectionnées</label>
					<handler function="OnMenu_SupprimerFacettesSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM15" variable="Outils_Selec_Depl" member="yes">
					<label>Sélections et déplacements</label>
					<handler function="OnOutils_Selec_DeplSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM16" variable="Outils_Modifications" member="yes">
					<label>Modifications</label>
					<handler function="OnOutils_ModificationsSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM28" variable="Outils_choix_afficher" member="yes">
					<label>Choix des objets à afficher</label>
					<handler function="OnOutils_choix_afficherSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM29" variable="Outils_Reafficher" member="yes">
					<label>Réafficher les éléments masqués</label>
					<handler function="OnOutils_ReafficherSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM30" variable="Outils_Supprimer_Masques" member="yes">
					<label>Supprimer les éléments masqués</label>
					<handler function="OnOutils_Supprimer_MasquesSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM31" variable="Outils_UnDelete" member="yes">
					<label>Restituer les éléments supprimés</label>
					<handler function="OnOutils_UnDeleteSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM52" variable="Menu_Retracer3D" member="yes">
					<label>Retracer complètement la vue 3D</label>
					<accel>Ctrl-R</accel>
					<help>Relance complètement le tracé 3D</help>
					<handler function="OnMenu_Retracer3DSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu_Transformations" member="yes">
				<label>Transformations</label>
				<object class="wxMenuItem" name="ID_MENUITEM17" variable="MenuItem_SigneX" member="yes">
					<label>X =&gt; - X</label>
					<handler function="OnMenu_XminusX" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM18" variable="MenuItem_SigneY" member="yes">
					<label>Y =&gt; - Y</label>
					<handler function="OnMenu_YminusY" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM19" variable="MenuItem_SigneZ" member="yes">
					<label>Z =&gt; - Z</label>
					<handler function="OnMenu_ZminusZ" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM20" variable="MenuItem_PermXY" member="yes">
					<label>X &lt;=&gt; Y</label>
					<handler function="OnMenu_XtoY" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM21" variable="MenuItem_PermXZ" member="yes">
					<label>X &lt;=&gt; Z</label>
					<handler function="OnMenu_XtoZ" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM22" variable="MenuItem_PermYZ" member="yes">
					<label>Y &lt;=&gt; Z</label>
					<handler function="OnMenu_YtoZ" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM23" variable="MenuItem_PermXYZ" member="yes">
					<label>X=&gt;Y=&gt;Z=&gt;X</label>
					<handler function="OnMenu_XtoYtoZ" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM24" variable="Inverser_Toutes_les_Normales" member="yes">
					<label>Inverser toutes les normales</label>
					<handler function="OnMenu_Inverser_Toutes_les_NormalesSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM27" variable="Inverse_All_Selected_Normales" member="yes">
					<label>Inverser les normales Sélectionnées</label>
					<handler function="OnMenu_Inverse_All_Selected_NormalesSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM25" variable="Menu_DeplacerBdd" member="yes">
					<label>Déplacer la BDD</label>
					<handler function="OnMenu_DeplacerBddSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM26" variable="Menu_FacteurEchelleBdd" member="yes">
					<label>Facteur d&apos;échelle</label>
					<handler function="OnMenu_FacteurEchelleBddSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu_Options" member="yes">
				<label>Options</label>
				<object class="wxMenuItem" name="ID_MENUITEM43" variable="Menu_CouleurDesGroupes" member="yes">
					<label>Couleurs des groupes</label>
					<handler function="OnMenu_CouleurDesGroupesSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM44" variable="Menu_RelirePalette" member="yes">
					<label>Relire une palette</label>
					<handler function="OnMenu_RelirePaletteSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM45" variable="Menu_EnregistrerPalette" member="yes">
					<label>Enregistrer la palette</label>
					<handler function="OnMenu_EnregistrerPaletteSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM46" variable="Menu_ZoomAuto" member="yes">
					<label>Zoom automatique</label>
					<handler function="OnMenu_ZoomAutoSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM47" variable="Menu_CentrageAuto" member="yes">
					<label>Centrage automatique</label>
					<handler function="OnMenu_CentrageAutoSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu_Aide" member="yes">
				<label>Aide</label>
				<object class="wxMenuItem" name="idMenuHelp" variable="MenuItem_Aide" member="yes">
					<label>Aide</label>
					<accel>F1</accel>
					<help>Affiche une aide des commandes et des menus sous forme de fichier html</help>
					<handler function="OnMenuItem_AideSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem_About" member="yes">
					<label>A Propos</label>
					<help>Affiche quelques informations sur la génération de l&apos;application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="Timer_Save" member="yes">
			<interval>300000</interval>
			<handler function="OnTimer_SaveTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
