<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="PositionObs_AzimutSite">
		<title>Position Angulaire Observateur</title>
		<size>304,119</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxSTAY_ON_TOP|wxDEFAULT_DIALOG_STYLE</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Angles de visée de la Base de Données :</label>
			<pos>0,8</pos>
			<size>304,14</size>
			<style>wxST_NO_AUTORESIZE|wxALIGN_CENTRE</style>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>LAZ :</label>
			<pos>8,51</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>LSI :</label>
			<pos>168,51</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>Azimut</label>
			<pos>64,32</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>Site</label>
			<pos>224,32</pos>
		</object>
		<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinCtrl_LAZ" member="yes">
			<value>0</value>
			<min>-1</min>
			<max>360</max>
			<pos>40,48</pos>
			<size>104,21</size>
			<handler function="OnSpinCtrl_LAZChange" entry="EVT_SPINCTRL" />
		</object>
		<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="SpinCtrl_LSI" member="yes">
			<value>0</value>
			<min>-180</min>
			<max>180</max>
			<pos>192,48</pos>
			<size>104,21</size>
			<handler function="OnSpinCtrl_LSIChange" entry="EVT_SPINCTRL" />
		</object>
		<object class="wxButton" name="ID_BUTTON3" variable="Button_Quit" member="yes">
			<label>OK</label>
			<pos>112,88</pos>
			<handler function="OnButton_QuitClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText_Warning" member="yes">
			<label>Attention : Rotation en Y &lt;&gt; 0 !</label>
			<pos>56,72</pos>
			<hidden>1</hidden>
			<fg>#FF0000</fg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>default</family>
				<face>Arial</face>
			</font>
		</object>
	</object>
</wxsmith>
