<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ScalePanel">
		<title>Mise à l&apos;échelle</title>
		<pos>30,30</pos>
		<size>285,240</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxSTAY_ON_TOP|wxDEFAULT_DIALOG_STYLE</style>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Incrément :</label>
			<pos>8,20</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl_Increment" member="yes">
			<value>0.010</value>
			<pos>80,16</pos>
			<size>112,24</size>
			<style>wxTE_PROCESS_ENTER|wxTE_RIGHT</style>
			<handler function="OnTextCtrl_IncrementText" entry="EVT_TEXT_ENTER" />
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button_Valider" member="yes">
			<label>Valider</label>
			<pos>200,16</pos>
			<size>80,24</size>
			<fg>wxSYS_COLOUR_BTNTEXT</fg>
			<handler function="OnButton_ValiderClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Mise à l&apos;échelle en X :</label>
			<pos>16,76</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>Mise à l&apos;échelle en Y :</label>
			<pos>16,108</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>Mise à l&apos;échelle en Z :</label>
			<pos>16,140</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrl_ScaleX" member="yes">
			<value>1.000</value>
			<pos>144,72</pos>
			<size>112,24</size>
			<style>wxTE_RIGHT</style>
			<handler function="OnTextCtrl_ScaleXText" entry="EVT_TEXT" />
		</object>
		<object class="wxSpinButton" name="ID_SPINBUTTON1" variable="SpinButton_X" member="yes">
			<min>-100</min>
			<max>100</max>
			<pos>256,72</pos>
			<size>17,24</size>
			<handler function="OnSpinButton_XChangeUp" entry="EVT_SPIN_UP" />
			<handler function="OnSpinButton_XChangeDown" entry="EVT_SPIN_DOWN" />
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrl_ScaleY" member="yes">
			<value>1.000</value>
			<pos>144,104</pos>
			<size>112,24</size>
			<style>wxTE_RIGHT</style>
			<handler function="OnTextCtrl_ScaleYText" entry="EVT_TEXT" />
		</object>
		<object class="wxSpinButton" name="ID_SPINBUTTON2" variable="SpinButton_Y" member="yes">
			<min>-100</min>
			<max>100</max>
			<pos>256,104</pos>
			<size>17,24</size>
			<handler function="OnSpinButton_YChangeUp" entry="EVT_SPIN_UP" />
			<handler function="OnSpinButton_YChangeDown" entry="EVT_SPIN_DOWN" />
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="TextCtrl_ScaleZ" member="yes">
			<value>1.000</value>
			<pos>144,136</pos>
			<size>112,24</size>
			<style>wxTE_RIGHT</style>
			<handler function="OnTextCtrl_ScaleZText" entry="EVT_TEXT" />
		</object>
		<object class="wxSpinButton" name="ID_SPINBUTTON3" variable="SpinButton_Z" member="yes">
			<min>-100</min>
			<max>100</max>
			<pos>256,136</pos>
			<size>17,24</size>
			<handler function="OnSpinButton_ZChangeUp" entry="EVT_SPIN_UP" />
			<handler function="OnSpinButton_ZChangeDown" entry="EVT_SPIN_DOWN" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox_ScaleUnique" member="yes">
			<label>Mettre la même échelle en X, Y et Z</label>
			<checked>1</checked>
			<pos>16,176</pos>
			<handler function="OnCheckBox_ScaleUniqueClick" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="Button_Appliquer" member="yes">
			<label>Appliquer</label>
			<pos>32,208</pos>
			<size>96,24</size>
			<fg>wxSYS_COLOUR_BTNTEXT</fg>
			<handler function="OnButton_AppliquerClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON3" variable="Button_Annuler" member="yes">
			<label>Annuler</label>
			<pos>152,208</pos>
			<size>96,24</size>
			<fg>wxSYS_COLOUR_BTNTEXT</fg>
			<handler function="OnButton_AnnulerClick" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
